<div
  class="flex justify-content-between align-items-center border-bottom-1 border-300 p-3"
>
  <h2 class="text-xl font-medium">{{ "New Order" }}</h2>
  <button
    pButton
    icon="pi pi-times"
    class="p-button-text p-button-plain p-button-rounded shadow-none"
    (click)="closeDialog()"
  ></button>
</div>

<p-steps
  [activeIndex]="activeIndex()"
  [model]="steps()"
  [readonly]="true"
  styleClass="overflow-x-auto my-2 py-2"
/>
<form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="px-3 pt-4">
  <div
    [hidden]="activeIndex() !== 0"
    class="p-3 border-1 border-300 border-round"
  >
    <div class="flex gap-3 mb-3">
      @for (item of listRadio(); track $index) {
        <div class="field-checkbox">
          <p-radioButton
            [label]="item.name"
            [value]="item.key"
            (onClick)="changeRadio($event)"
            formControlName="selected_type_customer"
          />
        </div>
      }
    </div>
    <div class="grid align-items-center">
      <div class="col-5">
        <div class="p-field">
          <p-autoComplete
            styleClass="w-full"
            [class.ng-dirty]="true"
            formControlName="customer"
            [forceSelection]="true"
            [showEmptyMessage]="true"
            [completeOnFocus]="false"
            [delay]="1000"
            inputStyleClass="w-full text-sm"
            placeholder="{{ 'Search Customer' | translate }}"
            [required]="false"
            [suggestions]="suggestionsCustomer()"
            (completeMethod)="searchCustomer($event)"
            (onSelect)="selectCustomer($event)"
          >
          </p-autoComplete>
        </div>
      </div>
      <div class="col-4">
        <button
          pButton
          type="button"
          pRipple
          icon="pi pi-plus"
          class="p-button text-sm btn-padding"
          [disabled]="!isNewCustomer()"
          label="{{ 'New Customer' | translate }}"
          (click)="newCustomer()"
        ></button>
      </div>
    </div>
  </div>

  <div [hidden]="activeIndex() !== 1">
    <div class="grid mb-2" [hidden]="activeIndex() !== 1">
      <div class="col-12">
        <h3 class="mb-3">{{ "Order Items" | translate }}</h3>
        <div class="p-field">
          <p-autoComplete
            styleClass="w-full"
            [class.ng-dirty]="true"
            formControlName="products"
            [forceSelection]="true"
            [multiple]="true"
            [showEmptyMessage]="true"
            [completeOnFocus]="false"
            [delay]="1000"
            inputStyleClass="w-full text-sm"
            placeholder="{{ 'select products' | translate }}"
            [required]="false"
            [suggestions]="suggestProducts()"
            (completeMethod)="searchProduct($event)"
            (onSelect)="selectProduct($event)"
            (onUnselect)="removeProduct($event)"
          >
          </p-autoComplete>
        </div>
        <div class="info">
          <ul class="m-0 list-none flex flex-column gap-3 list-product">
            @for (item of orderItems(); track $index) {
              <li class="flex gap-4">
                <div class="flex-auto">
                  <div class="flex justify-content-between align-items-center">
                    <span class="font-bold">
                      {{ item.product.name }}
                    </span>
                    <span
                      class="font-semibold text-sm text-700 ng-star-inserted"
                    >
                      {{
                        getOrderItemTotalPrice(item)
                          | currency: " " : "symbol" : "0.0-0"
                      }}
                      <span>{{ "دينار العراقي" | translate }}</span>
                    </span>
                  </div>
                  <div class="flex align-items-center gap-3">
                    <app-product-qty
                      [product]="item.product"
                      [quantity]="item.quantity"
                      [orderItems]="orderItems()"
                      (updateQty)="updateQty($event, item)"
                    >
                    </app-product-qty>
                  </div>
                </div>
                <!--   
                <div class="flex flex-column justify-content-between">
                  <app-product-delete-btn
                    [productId]="item.product.id"
                    [attributes]="item.attributes"
                    (onUpdateDte)="deleteSuggestions(item.product)"
                  >
                  </app-product-delete-btn>
                </div> -->
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div [hidden]="activeIndex() !== 2">
    <div class="grid mb-2" [hidden]="activeIndex() !== 2">
      <div class="col-12">
        <h3 class="mb-3">{{ "Information Order" | translate }}</h3>
        <div class="info">
          <ul class="m-0 list-none flex flex-column gap-3">
            <li class="flex justify-content-between align-items-center">
              <span class="font-bold">{{ "Email" | translate }}</span>
              <span> {{ email() }}</span>
            </li>
            <li class="flex justify-content-between">
              <span class="font-bold"> {{ "Full Name" | translate }}</span>
              <span>{{ fullName() }}</span>
            </li>
            <li class="flex justify-content-between">
              <span class="font-bold"> {{ "Phone" | translate }}</span>
              <span>{{ phone() }}</span>
            </li>
            <li class="flex justify-content-between align-items-center">
              <span class="font-bold capitalize">{{
                "Floor Number" | translate
              }}</span>
              <span>
                {{ floorNumber() }}
              </span>
            </li>
            <li class="flex justify-content-between align-items-center">
              <span class="font-bold capitalize">{{
                "Address" | translate
              }}</span>
              <span>
                {{ address() }}
              </span>
            </li>
            <li class="flex justify-content-between align-items-center">
              <span class="font-bold capitalize">{{
                "total order" | translate
              }}</span>
              <span>
                {{ totalOrder() }}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="flex align-items-center justify-content-end gap-2 mt-3">
    @if (activeIndex() > 0) {
      <button
        type="button"
        pButton
        label="{{ 'Previous' | translate }}"
        (click)="activeIndex.set(activeIndex() - 1)"
        class="text-sm py-2"
      ></button>
    }

    @if (activeIndex() !== 2) {
      <button
        type="button"
        pButton
        label="{{ 'Next' | translate }}"
        (click)="activeIndex.set(activeIndex() + 1)"
        [disabled]="isStepValid()"
        class="text-sm py-2"
      ></button>
    }

    @if (activeIndex() === 2) {
      <button
        type="submit"
        pButton
        label="{{ 'place order' | translate }}"
        [loading]="isLoading()"
        [disabled]="orderForm.invalid"
        loadingIcon="pi pi-spin pi-spinner"
        class="text-sm py-2"
      ></button>
    }
  </div>
</form>
