.info {
  ul {
    padding: 15px;
    border-radius: var(--border-radius);
    background-color: var(--gray-100);
    border: 1px solid var(--surface-400);
    margin-bottom: 0px !important;
  }
}
.field {
  width: 100%;
  height: var(--field-height);
  font-size: 14px;
  padding: 0.65rem 0.65rem;
}

.box-payment {
  border-radius: var(--border-radius);
  background-color: var(--gray-100);
  border: 1px solid var(--surface-400);
}

.list-product {
  max-height: 265px;
  overflow-y: auto;
}

.img-contain {
  object-fit: contain;
}

.btn-padding {
  padding: 5px 10px;
}
:host ::ng-deep {
  .p-autocomplete-multiple-container {
    padding: 0px;
    padding-block: 0px;
    padding-inline: 15px;
    margin-bottom: 20px;
  }
}
