<app-table-wrapper
  [headerTitle]="indexMeta.indexTitle"
  [titleIcon]="indexMeta.indexIcon"
  [headerBtnLabel]="indexMeta.createBtnLabel"
  [displayCreateButton]="indexMeta.displayCreateButton"
  [columns]="indexMeta.columns"
  [dataSource]="records()"
  [loading]="isLoading()"
  [totalRecords]="totalRecords()"
  [recordsFiltered]="recordsFiltered()"
  paginatorPosition="both"
  [stateKey]="indexMeta.indexTableKey"
  [rows]="rows()"
  [indexRole]="roles().index"
  [updateBtnRole]="roles().update"
  [createBtnRole]="roles().create"
  [deleteBtnRole]="roles().delete"
  [withActionsColumn]="indexMeta.withAction"
  [displayUpdateButton]="indexMeta.displayUpdateButton"
  [displayDeleteButton]="indexMeta.displayDeleteButton"
  [globalFilterValue]="globalFilterValue"
  [reorderableColumns]="indexMeta.reorderableColumns ?? false"
  [reorderableRows]="indexMeta.reorderableRows ?? false"
  (createBtnClicked)="openCreateRecordDialog()"
  (updateBtnClicked)="openUpdateRecordDialog($event)"
  (deleteBtnClicked)="deleteRecord($event)"
  (onLoadData)="loadRecords($event)"
></app-table-wrapper>
